:root {
  --primary-color: #fbfaf9;
  --secondary-color: #060047;
  --accent-color: #fed6ff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font: "Nunito", sans-serif;
  --header-font: "Mynerve", cursive;
  --secondary-font: "Tenor Sans", sans-serif;
}

body {
  margin: 0px auto;
  max-width: 100%;
  font-family: var(--primary-font);
  margin-top: 100px;
  background: var(--primary-color);
  color: var(--secondary-color);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 10px;
}

h1 {
  font-size: 80px;
  font-family: var(--header-font);
}

h2 {
  font-size: 48px;
  margin-top: 40px;
  font-family: var(--secondary-font);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  text-indent: 10%;
}

.container {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.this-is-me {
  float: right;
}

.home-photo-me {
  background-color: var(--accent-color);
  max-height: 450px;
}
.home-photo {
  background-color: var(--accent-color);
  max-height: 450px;
}

.about-me-d {
  margin-top: 10px !important;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.my-work-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
  text-align: center;
}

.about-paragraphs p {
  margin: 10px;
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-left: 1rem;
}

.navbar-toggler {
  margin-right: 2em;
  padding: 0.25rem 0.75rem;
}

.nav-link {
  margin-left: 1.5rem;
}

.mds-logo {
  max-width: 250px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-custom {
  background-color: #f4f0f0;
}
.primary-link {
  font-size: 25px;
  color: var(--secondary-color);
  margin-left: 25px;
}
.p-title {
  font-size: 32px;
  text-align: center;
}
.contact-me {
  font-family: var(--header-font);
}

@media (max-width: 766px) {
  .this-is-me {
    display: none;
  }
  .home-photo-me {
    max-height: 350px;
    display: block;
    margin: auto;
  }
  .home-photo {
    display: none;
  }
  .primary-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  .app-title {
    font-size: 35px;
    text-align: center;
  }

  .contact-me {
    font-size: 42px;
  }
}
